h5py==3.11.0 
kaleido==0.2.1 
keras==2.14.0 
Keras-Preprocessing==1.1.2 
matplotlib==3.7.0 
numpy==1.26.4 
opencv-python==4.5.5.64 
opencv-python-headless==4.5.4.60 
opt-einsum==3.3.0 
pandas==1.5.3 
Pillow==10.1.0 
pip==23.3.1 
plotly==5.9.0 
scikit-image==0.19.3 
scikit-learn==1.2.1 
scipy==1.10.0 
setuptools==69.5.1 
six==1.16.0 
tensorflow==2.14.0 
torch==2.3.0 
tqdm==4.64.1 
xgboost==1.7.3 