matplotlib==3.7.2
numpy==1.24.3
opencv-python==4.9.0.80
pandas==2.0.3
plotly==5.9.0
kaleido == 0.2.1
scikit-learn==1.4.0
scipy==1.11.1
scikit-image
tensorflow==2.15.0
torch==2.2.1
tqdm==4.65.0
xgboost==1.6.2
 
 